/* 动画效果 */

/* cross：水平移动 - 左往右 */
.cross-enter-active {
    transition: all .6s ease;
}
.cross-leave-active {
    display: none;
}
.cross-enter, .cross-leave-to  {
    opacity: 0;
    transform: translateX(-10px);
}

/* cross2：水平移动 - 右往左 */
.cross2-enter-active, .cross2-leave-active {
    transition: all .6s ease;
}
.cross2-enter, .cross2-leave-to  {
    opacity: 0;
    transform: translateX(10px);
}