/* ant-design-vue的css样式自定义 */

/* ant-layout自定义 */
.ant-layout {
    background: transparent;
}
.ant-layout-header {
    background: transparent;
}
.ant-layout-sider {
    background: transparent;
    min-height: 80vh;
}
.ant-layout-footer {
    background: transparent;
    /* width: 100vw;
    position: fixed;
    bottom: 0; */
}

/* 自定义的，type为green的a-button */
.ant-btn-green {
    background-color: #58C462;
    color: #FFFFFF;
    border-color: #58C462;
}
.ant-btn-green:hover{
    background-color: #60d36c;
    color: #FFFFFF;
    border-color: #58C462;
}

/* 表格自定义 */
.ant-table-pagination {
    margin: 16px 20px !important;
}

/* a-tabs */
.ant-tabs-nav-scroll {
    padding: 0 10px;
}