/* 全局的css */
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
}
th,td {
    text-align: center !important;
}
pre {
    background-color: #EEEEEE;
    margin: 0;
    border: 1px solid #AAAAAA;
    font-size: 0.6rem;
    padding: 2px;
    color: #000000;
}
/* 部分颜色 */
.accept {
    color: #13C965;
}
.wa {
    color: #FF0000;
}
.others {
    color: #0000FF;
}
/* 部分特殊化 */
.bold {
    font-weight: bold;
}