/* 动画效果 */

/* fade:透明消失 */
.fade-enter-active, .fade-leave-active {
    transition: all 2s ease;
}
.fade-enter, .fade-leave-to  {
    opacity: 0
}

/* cross：水平移动 */
.cross-enter-active, .cross-leave-active {
    transition: all .6s ease;
}
.cross-enter, .cross-leave-to  {
    opacity: 0;
    transform: translateX(-10px);
}

/* cross2：水平移动 */
.cross2-enter-active, .cross2-leave-active {
    transition: all .6s ease;
}
.cross2-enter, .cross2-leave-to  {
    opacity: 0;
    transform: translateX(10px);
}